<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROJECT_GESTOR_V3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.datatables.net/v/dt/dt-2.0.8/datatables.min.css" rel="stylesheet">

    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <strong><a class="navbar-brand" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" asp-area="" asp-controller="Home" asp-action="Index">PROJETO_GESTOR_V3</a></strong>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); color: cadetblue" asp-area="" asp-controller="Home" asp-action="Index">Página Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); color: darkblue">Modulos -></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); color: cadetblue" asp-area="" asp-controller="Livro" asp-action="Index">| Livros |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); color: cadetblue">| Tarefas |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); color: cadetblue">| Finanças |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); color: cadetblue">| Agenda |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); color: cadetblue">| Estudos |</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="tarefasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); color: cadetblue">
                                | Links |
                            </a>
                            <div class="dropdown-menu" aria-labelledby="tarefasDropdown">
                                <a class="dropdown-item" href="#">Tarefa 1</a>
                                <a class="dropdown-item" href="#">Tarefa 2</a>
                                <a class="dropdown-item" href="#">Tarefa 3</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Desenvolvido por: <strong style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); color: cadetblue">Márcio Rodrigo.</strong>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.8/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
