
<div class="container"> 
    <div class="jumbotron">
       <h3>Queremos ouvir o que você tem a dizer.</h3>
       <p>Se você tem alguma dúvida ou sugestão fale conosco.</p> 
           <h5><email endereco="marcioplay@gmailcom" conteudo="Enviar um email"></email></h5>
           <br />
           <p>Rua Manoel Salvador, nº 118-b Barro.</p>    
    </div>
    <a role="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index">Voltar</a>
</div>