@using PROJECT_GESTOR_V3.Enums
@model PROJECT_GESTOR_V3.Models.DespesaModel

@{
    ViewData["Title"] = "Cadastro de despesa";
}

<div class="texto-cabecalho-criar" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); max-width: contain; font-size: 15px; color: blue">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="container mt-5">
    <form asp-controller="Despesa" asp-action="Criar" method="post" id="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" asp-for="Titulo" class="form-control" id="titulo" placeholder="Infome o título">
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="number" asp-for="Valor" class="form-control" id="valor" placeholder="Infome o valor">
        </div>
        <div class="form-group">
            <label for="genero">Situacao:</label>
            <select asp-for="Situacao" class="form-control" id="situacaoCriar" >
                <option value="">Selecione</option>
                <option value="@SituacaoTipo.Pago">Pago</option>
                <option value="@SituacaoTipo.A_Pagar">A pagar</option>
                <option value="@SituacaoTipo.Pendente">Pendente</option>
            </select>           
        </div>
        <div class="form-group">
            <label for="datadevencimento">Data de vencimento</label>
            <input type="date" asp-for="DataVencimento" class="form-control" id="dataCadastroCriar">
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
        <a asp-controller="Despesa" asp-action="Index" type="submit" class="btn btn-secondary">Voltar</a>
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



