@model UsuarioModel

@{
    ViewData["Title"] = "Confirmar remoção";
}


<div style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); max-width: contain; font-size: 30px">
    <p style="color: darkred">Deseja realmente apagar o usuário: (@Model.Nome)?</p>
</div>
<a asp-controller="Usuario" asp-action="Apagar" asp-route-id="@Model.Id" type="submit" class="btn btn-outline-danger">Confirma exclusão</a>
<a asp-controller="Usuario" asp-action="Index" type="submit" class="btn btn-secondary">Cancelar exclusão</a>
